@model _50DersteMvc.Models.Entity.TBL_URUNLER

@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Name of the Product</label>
        <input type="text" class="form-control" name="URUNAD" required="" />
    </div>
    <br />
    <div>
        <label>Brand</label>
        <input type="text" class="form-control" name="MARKA" required="" />
    </div>
    <br />
    <div>
        <label>Select Category</label>
        @Html.DropDownListFor(m => m.TBL_KATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.dgr, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <label>Price</label>
        <input type="text" class="form-control" name="FIYAT" required="" />
    </div>
    <br />
    <div>
        <label>Stock Quantity</label>
        <input type="text" class="form-control" name="STOK" required=""/>
    </div>
    <br />
    <div>
        <button class="btn btn-primary">Add Product</button>
    </div>
</form>